#abaut{
    padding: 80px 0;
    background-color: #1e252b;
}
.abaut-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.abaut-titel{
    color: #FFFFFFC7;
    max-width: 393px;
    width: 100%;
    line-height: 30px;
    font-size: 18px;
}
.abaut-img{
    width: 50%;

}
.mm{
    display: block;
    padding-top: 90px;
    margin: 0 auto;
}
@media (max-width:700px) {
    .abaut-card{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .abaut-img{
        width: 100%;
    }
    .abaut-titel{
        width: 100%;
    }
        
}